.viewer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 480px;
  }

  .h1 {
      margin-top: -50px;
      position: absolute;
        left: 50%;
    transform: translate(-50%, -50%);
  }