.slick-slider {
    top: 100px;
    height: 500px;
    left: 0px;
}

.slick-list {
    height: inherit;
}

.slick-track {
    height: inherit;
}

.slick-slide {
    position: relative;
    height: inherit;
    z-index: 1;
}

.livestream-preview {
    position: relative;
    height: 450px;
    width: 800px;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0%);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../public/images/livestream-preview.png');
    border-radius: 12.5px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* filter: drop-shadow(0px 5px 8.5px rgba(0, 0, 0, 0.5)); */
}

.slick-center {
    z-index: 2;
    height: 500px;
}

.slick-center .livestream-preview {
    top: 0px;
    height: 500px;
    width: 888.89px;
    background: url('../../../../public/images/livestream-preview.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.slick-prev {
    left: 25px; /* adjust this value to move the button to the desired position */
    z-index: 1; /* make sure the button is on top of the carousel */
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.slick-next {
    right: 25px; /* adjust this value to move the button to the desired position */
    z-index: 1; /* make sure the button is on top of the carousel */
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

/* Cutoff for laptop devices */
@media all and (max-width: 1550px) {
    .slick-slider {
        height: 300px;
    }
    
    .livestream-preview {
        height: 250px;
        width: 444.38px;
        top: 25px;
        border-radius: 7.5px;
    }

    .slick-center {
        height: 300px;
    }

    .slick-center .livestream-preview {
        height: 300px;
        width: 533.33px;
    }
}